@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo-image img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px;
}
.logo-text {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}
