@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");

.signup-page {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 100px;
}
.image-logo {
  background-image: url(/src/assets/images/logo.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
}
.signup-form {
  margin-top: 3%;
  max-width: fit-content;
  height: 90vh;
  max-width: 80vw;
  width: 44vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.signup-form .text1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
}
.signup-form .text2 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Exo 2", sans-serif;
}
#googlebtn {
  background-color: #004aad;
  width: 17vw;
  max-width: 17vw;
  border: none;
  max-height: 30vh;
  height: 20vh;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media only screen and (max-width: 1024px) {
  .image-logo {
    display: none;
  }
  .signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-page {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 10px;
  }
}
