@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");

.signup-page {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 10px;
}

.signup-form {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  opacity: 3;
  background-color: rgba(255, 255, 255, 0.672);
  z-index: 1;
}
.signup-form .text1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
  margin-top: 1%;
}
.signup-form .text2 {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Exo 2", sans-serif;
}

@media only screen and (max-width: 1024px) {
  .signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }
  .App-logo {
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .signup-page {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 5px;
  }
  .carousel {
    display: none !important;
  }
}
@media only screen and (max-height: 880px) {
  .signup-form {
    gap: 13px;
  }
  .signup-form .text1 {
    margin-top: 5px;
  }
}

.App-logo {
  display: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.carousel {
  height: 100vh;
  width: 100%;
  background-color: white;
}
.carousel img {
  height: 100vh;
  background-size: cover;
  image-rendering: pixelated;
}
